.upload-list-inline .ant-upload-list-item {
  display: inline-block;
  width: 200px;
  margin-right: 8px;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
  margin-left: 10px;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.prize_content {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 250px;
}

.prize_label {
  background: #404040;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2px;
  margin-right: 2px;
  height: 20px;
  margin: 1px 0;
  line-height: 20px;
}

.ticket {
  background: #108ee9;
}